# Basic Python

## 1. Split this string

In [10]:
s = "Hi there Sam!"

In [11]:
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [12]:
planet = "Earth"
diameter = 12742

In [13]:
text="The diameter of {} is {} kilometers."

In [14]:
print(text.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [15]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [16]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [5]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [17]:
array=np.zeros(10)

In [18]:
array

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [19]:
array=np.ones(10)*5

In [20]:
array

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## 5. Create an array of all the even integers from 20 to 35

In [21]:
array=np.arange(20,36,2)

In [22]:
array

array([20, 22, 24, 26, 28, 30, 32, 34])

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [23]:
a=np.arange(0,9).reshape(3,3)

In [24]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
a=np.array([1,2,3])

In [ ]:
b=np.array([4,5,6])

In [ ]:
concat=np.concatenate((a,b), axis=0)

In [ ]:
concat

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [25]:
import pandas as pd

In [26]:
a=[['rita',20],['savita',25],['ravi',19]]

In [27]:
df=pd.DataFrame(a,columns=('name','age'))

In [28]:
df

     name  age
0    rita   20
1  savita   25
2    ravi   19

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [3]:
pd.date_range(start='01/01/2023',end='02/10/2023')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [29]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [30]:
df=pd.DataFrame(lists,columns=['s.no','name','mark'])

In [31]:
df

   s.no name  mark
0     1  aaa    22
1     2  bbb    25
2     3  ccc    24